body{
    background-color: aquamarine;
}
#result{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 10px solid black;
    padding: 5px left;
    border-radius: 5px;
}
#result:hover{
    background-color: pink;
}